@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-color: blanchedalmond;
        font-family: monospace;
    }

    h2 {
        color: black;
    }
</style>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2> Art-Gallery </h2>
